* {
    padding: 0px;
    margin: 0px;

}

/* Styles go here */
html {
    touch-action: none;
}
#loginMenu{
    position:fixed;
    text-align: center;
    left: 40%;
    bottom: 50%;
}

#login {
    text-align: center;
    left: 40%;
    bottom: 75%;
}
#create {
    text-align: center;
    left: 40%;
    bottom: 50%;
}

canvas {
    position: relative;
    text-align: center;
    padding: 0;
    margin: auto;
    display: block;
    background: #eee;
}

body {

    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial;
}

